.moviereviewsborder {
    padding: 1em;
}

.moviereview {
    margin: 1em;
    border: 4px solid var(--color-contrast);
    border-radius: 1em;
    padding: 1em;
    background-color: lightgoldenrodyellow;
}

.moviereview p {
    margin: 1em;
}

.pagechangebutton {
    
    margin-right: 1em;
    padding: 0.5em 1em;
}

.nowrittenreview {
    font-style: italic;
}