PORT=
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_SSL=false

TEST_DB_NAME=
JWT_SECRET_KEY=
TMDB_KEY=

NODE_ENV=development
REFRESH_TOKEN_SECRET=your_refresh_secret
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d