.extraLinksDiv * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.extraLinksDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: var(--color-bg-alt);
    position: relative;
    left: -2em;
}

.extraLink {
    flex: 25%;
    max-width: 20%;
    color: var(--color-text);
    text-decoration: none;
    border: 2px solid var(--color-contrast);
    border-radius: 1em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: white;
}

.extraLink:hover {
    background-color: goldenrod;
}

.extraLinkH3 {
    padding: 1em;
}

.extraLinkP {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

@media only screen and (max-width: 1200px) {
    .extraLink {
        max-width: 32%;
    }
}

@media only screen and (max-width: 767px) {
    .extraLinksDiv {
        left: -0.5em;
    }

    .extraLinkH3 {
        padding: 0.5em;
        margin: auto;
    }

    .extraLinkP {
        padding: 0.5em;
        margin: auto;
    }
}