select {
margin-top: 0.5em;
margin-bottom: 0.5em;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-size-medium);
  border: 1.5px solid var(--color-border);
  box-sizing: border-box;
}
select:focus, select:hover {
  border: 1.5px solid var(--color-contrast);
}

@media only screen and (max-width: 767px) {
  select {
    max-width: 95vw;
    margin: auto;
  }
}