.theatreResultsDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
}

.title {
    font-weight: bold;
    text-align: center;
}


.grid-item img {

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 15%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;  
}
.grid-item {
    flex-direction: column;
    padding: 0.5em;
    background-color: #c4c4c4;
    border: 1px solid #868686;
    border-radius: 1em;
    line-height: 1.2em;
}

.grid-item p {
    margin-left: 3px;
}