.sectionTitle {
    margin: 0;
    padding: 0;
}

 .popularMoviesDiv *, .popularMoviesDiv::after, .popularMoviesDiv::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 .popularMoviesDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100vw - 4em);
    margin-bottom: 2em;
}

.popularMoviesArticle {
    flex: 12%;
    padding: 1em;
}

.popularMoviesArticle img {
    display: block;
    margin: auto !important;
    height: 300px;
    width: 75%;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
}

/*
.popularMoviesArticle img:hover {
    border: 4px solid gold;

}
*/ 
.popularMoviesArticle h3 {
    text-align: center;
}

.popularmovielink {
    color: #000;
    text-decoration: none;
}

.popularmovielink:hover img {
    border: 4px solid gold;
}

.discovermoremovies {
    box-sizing: border-box;
    text-decoration: none;
    background-color: #000;
    color: gold;
    padding: 1em !important;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 2px solid gold;
    border-radius: 1em;
}

.popularMoviesSection {
    margin-bottom: 4em;
}

@media only screen and (max-width: 1200px) {
    .popularMoviesArticle {
        flex: 25%;
    }
    .popularMoviesArticle img {
        height: 250px;
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .popularMoviesArticle {
        flex: 50%;
    }
}