@import "../../global.css";

.gotogrouplink {
    text-decoration: none;
    color: black;
    font-size: var(--font-size-sm);
}

.gotogrouplinkborder{
    padding: 1em;
    display: inline;
}

.requeststatusmessage {
    margin-top: 2em;
    margin-left: 1em;
    min-width: 200px;
}