.groupinfolist {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.groupinfolist div {
    display: flex;
    flex-direction: column;
}

.groupinfolist label {
    font-weight: bold;
    margin-bottom: 0.25em;
}

.groupinfolist p {
    margin: 0;
    word-wrap: break-word;
}
