#movieSearchBar {
  display: flex;
  align-items: center;
  /* background-color: red; */
}


#selectors {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  padding: 1em;
}

.inputField {
  /* background-color: red; */
  padding: 0.5em;
  margin: 1em;
  width: auto;
}