.singlegrouppage {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
}

.groupcontentdiv {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    flex: 75%;
    margin: auto;
    width: 100%;
}

.groupcontentdiv h2 {
    margin-bottom: 1em;
}

.groupinfodiv {
    display: flex;
    flex-direction: column;
    flex: 20%;
    box-sizing: border-box;
    margin: 0em auto;
    padding: 1em;
    width: 100%;
    align-self: flex-start;
}

.groupcontent {
    border: solid 4px gold;
    border-radius: 1em;
    background-color: lightgoldenrodyellow;
    margin: 0.5em auto;
    padding: 1em;
    width: 100%;
    flex: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
    .singlegrouppage {
        flex-direction: column-reverse;
    }
    .groupinfodiv,.groupcontentdiv, .groupcontent{
        padding: 0.5em;
    }
}
