.myReviewsArticle {
    margin: 1em;
    padding: 1em;
    display: flex;
    
}

.reviewborder {
    border: solid 4px gold;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    
}


.deletebutton {
    display: inline;
    padding: 0em 1em;

    margin-left: 2em;
}

.reviewImageDiv {
    display: inline;
    flex: 15%;
    align-content: top;
}

.reviewImageDiv img {
    max-height: 150px;
    border-radius: 1em;
}

.reviewDetailsDiv {
    display: inline;
    flex: 85%;
    padding: 1em;
}

.reviewDetailsDiv h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.reviewDetailsDiv p {
    margin-top: auto;
    margin-bottom: auto;
}

