#searchBtn {
  cursor: pointer;
  margin: 0.5em;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  background-color: var(--color-bg-invert);
  color: var(--color-text-invert);
  font-size: var(--font-size-medium);
  border: 1.5px solid var(--color-border);
}
