.movieFilters {
  display: flex;  
  align-items: center;
  flex-wrap: wrap;
}

.inputField {
  margin: 0.5em;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: var(--font-size-medium);
  border: 1.5px solid var(--color-border);
}

#filterToggle {
  cursor: pointer;
  margin: 0.5em;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: var(--font-size-medium);
  border: 1.5px solid var(--color-border);
  background-color: var(--color-bg-invert);
  color: var(--color-text-invert);
}

#filterOptions {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

/* able to edit searchbar css without affecting header */
#customSearchBar > div > .search-bar input {
  border-radius: 8px;
  width: 100%;
  border: 1.5px solid var(--color-border);
}